APP_NAME=Smart Quote API
ENVIRONMENT=development
DEBUG=true

DATABASE_URL=sqlite:///database_example.db

SECRET_KEY=579b371c2394733ff41d3aa5a35e56e03b464d637ff101160c3f74528f25e2ae
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60